@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  color: white;
  overflow: hidden;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
}
#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}
#end {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
#end button {
  background-color: rgb(231, 50, 18);
  padding: 20px 50px 20px 50px;
  font-family: inherit;
  font-size: inherit;
  animation : colorPop 2s linear infinite;
}
#controls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  padding: 25px;
}
#controls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 30px;
}
#controls button {
  width: 100%;
  background-color: white;
  border-radius: 3px;
}
#controls button:first-of-type {
  grid-column: 1/-1;
}

.credits {
  position: fixed;
  bottom: 30px;
  right: 10px;
}

@keyframes colorPop {
  0%, 100% {
    color: white;
    background: rgb(231, 50, 18);
  }
  10%, 90% {
    color: black;
    background: yellow;
  }
  20%, 80% {
    color: white;
    background: rgb(98, 98, 255);
  }
  30%, 70% {
    color: white;
    background: rgb(252, 34, 168);
  }
  35%, 65% {
    color: black;
    background: rgb(255, 85, 141);
  }
  40%, 70% {
    color: white;
    background: rgb(234, 6, 255);
  }
  50% {
    color: black;
    background: white;
  }
}